<footer class="full_width">
    <div  class="footer-wrapper ">
      <div class="footer-logo">
        <img width="75px" src="./imgs/sm/logo.png"/>
       </div>
       <div class="footer-content ">
        <div class="footer__about-us ">
          <h1 class="footer__title">عن الشركة</h1>
          <p>
            بروسيرف تقود الموارد البشرية
            سوق الخدمات منذ عام 2010. تخدم أكثر من 600 شركة متعددة الجنسيات ،
            الشركات والهيئات الحكومية والمحلية في جميع أنحاء المنطقة.
          </p>
        </div>
        <div class="footer-social">
          <h1 class="footer__title">اعثر علينا على وسائل التواصل الإجتماع</h1>
          <div class="social-links">
            <div class="social-item">  <i class="fab fa-facebook-f"></i></div>
          <div  class="social-item"> <i class="fab fa-twitter"></i></h1></div>
           <div  class="social-item">  <i class="fab fa-linkedin-in"></i></div>
          <div  class="social-item">    <i class="fab fa-google"></i></div>
          </div>
        </div>
        <div class="footer__hyprtLinks ">
          <h1 class="footer__title">وصلات سريعة</h1>
          <ul  class="hyprtLinks-list">
            <li><a href="#">خدماتنا</a></li>
            <li><a href="#">تسجيل الدخول</a></li>
            <li><a href="blog">المدونة</a></li>
            <li><a href="#">تواصل معنا</a></li>
            <li><a href="/" class="englishFont">En</a></li>
          </ul>
        </div>
        <div class="send_msg footer-sndMsg">
          <form>
            <label class="form_labol">احصل على كل تحديثاتنا</label>
            <input class="email" type="email" required placeholder="حسابك">
            <input class="submit"type="submit">
          </form>
        </div>

       
        
        
       </div>
    </div>
    <div id="copyRight" class="copy-rights">
      <h4>&حقوق الملكية 2020-2025</h4>
      <h5>كل حقوق الملكية محفوظة <a href="#">بروسيرف</a></h5>
    </div>
  </footer>
