<div class="messanger">
    <div class="messanger__header">      
      <h1>ارسل لنا<span id="msg_num">1</span></h1>
        
      <i class="far fa-window-minimize"></i>  
    </div>
   <!--  <div class="messanger__body">
      <form>
        <label>حسابك</label>
        <input required type="email" name="email">
        <label>اسمك</label>
        <input required type="text" name="name">
        <label>رقمك</label>
        <input  required type="text" name="phone">
        <label>سؤالك?</label>
        <textarea required></textarea>
        <div class="message__body__buttons">
          <button type="reset" id="message__cancel">الغاء</button>
          <button type="submit">تحدث الان</button>
        </div>
      </form>
    </div> -->
  </div>