<div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- <a class="navbar-brand" href="#"> -->
                    <a class="logo-link" href="/"><img width="75px" src="../../imgs/sm/logo.png"/></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
      >
      <ul id="navgation" class="navbar-nav">
        
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >الصفحة الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">خدماتنا</a>
          <ul class="dp">
            <li><a href="/arabic/social-insurence-service">التأمينات الإجتماعية</a></li>
            <li><a href="/arabic/manpower-and-foreign-labor-affairs">القوى العاملة وشئون العمالة الأجنبية </a></li>
            <li><a href="/arabic/outsourcing">التعهيد</a></li>
            <li><a href="/arabic/recruitment">التوظيف</a></li>
            <li><a href="/arabic/proserv-training-academy">أكاديمية بروسيرف للتدريب</a></li>
            <li><a href="/arabic/hr-systems-procedures">أنظمة الموارد البشرية وإجراءاتها</a></li>
            <li><a href="/arabic/legal-service">الخدمات القانونية</a></li>
            <li><a href="/arabic/accounting-services">الخدمات المحاسبية</a></li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مكتبة القوانين</a>
          <ul class="dp laws">
            <li><a href="/arabic/social-insurence-service"> قانون العمل رقم 12 لسنة 2003</a></li>
            <li><a href="/arabic/manpower-and-foreign-labor-affairs">قانون التأمينات الاجتماعية و المعاشات رقم 148 لسنة 2019</a></li>
            <li><a href="/arabic/outsourcing">قانون التأمين الصحى الشامل رقم 2 لسنة 2018</a></li>
            <li><a href="/arabic/recruitment">قانون الطفل المعدل بالقانون رقم 126 لسنة 2008</a></li>
            <li><a href="/arabic/proserv-training-academy"> قانون الضرائب رقم 91 لسنة 2005 وتعديلاته</a></li>
            <li><a href="/arabic/hr-systems-procedures"> قانون حقوق الاشخاص ذوى الإعاقة رقم 10 لسنة 2018</a></li>
            <li><a href="/arabic/legal-service">قانون الخدمة العسكرية رقم 127 لسنة 1980</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مكتبة القوانين</a>
          <ul class="dp laws">
            <li><a href="/arabic/law-one"> قانون العمل رقم 12 لسنة 2003</a></li>
            <li><a href="/arabic/law-two">قانون التأمينات الاجتماعية و المعاشات رقم 148 لسنة 2019</a></li>
            <li><a href="/arabic/law-three">قانون التأمين الصحى الشامل رقم 2 لسنة 2018</a></li>
            <li><a href="/arabic/law-four">قانون الطفل المعدل بالقانون رقم 126 لسنة 2008</a></li>
            <li><a href="/arabic/law-five"> قانون الضرائب رقم 91 لسنة 2005 وتعديلاته</a></li>
            <li><a href="/arabic/law-six"> قانون حقوق الاشخاص ذوى الإعاقة رقم 10 لسنة 2018</a></li>
            <li><a href="/arabic/law-seven">قانون الخدمة العسكرية رقم 127 لسنة 1980</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">المدونة</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">تواصل معنا</a>
        </li>

        <li class="nav-item">
          <a class="nav-link englishFont" href="/">En</a>
        </li>
      </ul>
      </div>
    </nav>
  </div>
