
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../imgs/website icon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
    <title>بروفشنال سيرفيس - نحن نساعدك على النجاح</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../../styles/bass/owl.carousel.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../styles/bass/owl.theme.default.css"
    />
    <!-- CDN Start-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
   
    <link rel="stylesheet" type="text/css" href="../../styles-ar/style.css" />
</head>
<body>
    <div class="to-the-top"><i id="arrow-up" class="fas fa-chevron-up"></i></div>
    <div class="social-media-side-bar">
      <h1 class="social-media-item"><i class="fab fa-facebook-f"></i></h1>
      <h1 class="social-media-item"><i class="fab fa-twitter"></i></h1>
      <h1 class="social-media-item"><i class="fab fa-linkedin-in"></i></i></h1>
      <h1 class="social-media-item"><i class="fab fa-google"></i></h1>
    </div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <div class="nav-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light">
                      <a class="logo-link" href="/"><img width="75px" src="../../imgs/sm/logo.png"/></a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
        <ul id="navgation" class="navbar-nav">
          
          <li class="nav-item active">
            <a class="nav-link" href="/arabic"
              >الصفحة الرئيسية <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">خدماتنا</a>
            <ul class="dp">
              <li><a href="/arabic/social-insurence-service">التأمينات الإجتماعية</a></li>
              <li><a href="/arabic/manpower-and-foreign-labor-affairs">القوى العاملة وشئون العمالة الأجنبية </a></li>
              <li><a href="/arabic/outsourcing">التعهيد</a></li>
              <li><a href="/arabic/recruitment">التوظيف</a></li>
              <li><a href="/arabic/proserv-training-academy">أكاديمية بروسيرف للتدريب</a></li>
              <li><a href="/arabic/hr-systems-procedures">أنظمة الموارد البشرية وإجراءاتها</a></li>
              <li><a href="/arabic/legal-service">الخدمات القانونية</a></li>
              <li><a href="/arabic/accounting-services">الخدمات المحاسبية</a></li>
            
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">مكتبة القوانين</a>
            <ul class="dp laws">
              <li><a href="/arabic/law-one"> قانون العمل رقم 12 لسنة 2003</a></li>
              <li><a href="/arabic/law-two">قانون التأمينات الاجتماعية و المعاشات رقم 148 لسنة 2019</a></li>
              <li><a href="/arabic/law-three">قانون التأمين الصحى الشامل رقم 2 لسنة 2018</a></li>
              <li><a href="/arabic/law-four">قانون الطفل المعدل بالقانون رقم 126 لسنة 2008</a></li>
              <li><a href="/arabic/law-five"> قانون الضرائب رقم 91 لسنة 2005 وتعديلاته</a></li>
              <li><a href="/arabic/law-six"> قانون حقوق الاشخاص ذوى الإعاقة رقم 10 لسنة 2018</a></li>
              <li><a href="/arabic/law-seven">قانون الخدمة العسكرية رقم 127 لسنة 1980</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog">المدونة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">تواصل معنا</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/accounting-services">En</a>
          </li>
        </ul>
        </div>
      </nav>
    </div>
    <!-- <div class="service-hero service-in-hero">
      <div class="hero-data">
        <h2 class="service-title">التأمينات الإجتماعية </h2>
        <p class="service-paragraph">نحن نقدم استشارات متعمقة والعديد من الخدمات التشغيلية التي تؤمن عملك</p>
      </div>
    </div>
    <div> -->

      <div class="service-hero  service-in-hero">
        <div class="hero-data">
          <h2 class="service-title"> قانون التأمينات االجتماعية و المعاشات
        </h2>
        </div>
      </div>
      <div>


 <div class="laws">
  

   
   <div class="pdfs">
    <object class="pdf"  width="100%" height="1000px" data="./../../laws/3- قانون التأمين الصحى الشامل رقم 2 لسنة 2018/اللائحة التنفيذية لقانون التأمين الصحى الشامل رقم 2 لسنة 2018.pdf" type="application/pdf">
    </object>
    <object class="pdf"  width="100%" height="1000px" data="./../../laws/3- قانون التأمين الصحى الشامل رقم 2 لسنة 2018/قانون التأمين الصحى الشامل رقم 2 لسنة 2018.pdf" type="application/pdf">
   </div>
  
 </div>

<!-- why us end -->

      </div>
       <!-- our services start -->
       <div class="section our-services wrapper">
        <div class="section__data our-services__head">
          <h1 class="our-services__header">خدماتنا</h1>
          <h2 class="our-services__sub-header">بعض من خدمات بروسيرف</h2>
        </div>
        <div class="our-services__body">
          <!-- services slider -->
          <div class="owl-carousel ow-services owl-theme">
            <!-- <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/socialInsurence--small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">التأمين الاجتماعي</h1>
                <p class="service-card__paragraph">
                  تقدم بروسيرف إستشارات في صميم العمل والعديد الخدمات التشغيلية
  التي تؤمن عملك ضد التقلبات السريعة في تطبيقات قانون التأمين
  االجتماعي. بينما نضع نصب أعيننا مدى توافق عملك مع القوانين
                </p>
                 <a href="social-insurence-service" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div> -->
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/Recruitment-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">التوظيف</h1>
                <p class="service-card__paragraph">
                  نحن في بروسيرف نتفهم أن التوظيف كان على الدوام نطقة حرجة في
  معادلة نجاح العمل. فبينما إيجاد المرشح المناسب يتطلب الكثير من
  الوقت والجهد والتكلفة.
                </p>
                 <a href="recruitment" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/AI-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">القوى العاملة وشئون العمالة األجنبية</h1>
                <p class="service-card__paragraph">
                  ترغب في الحصول على موهبة أجنبية؟ ال توجد مشكلة مع حلول
                  بروسيرف المهيئة والمصممة إلنهاء جميع اإلجراءات المتعلقة بتوظيف
                  وفقً األجانب ا للقوانين المحلية.
                </p>
                 <a href="manpower-and-foreign-labor-affairs" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
  
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/outsource-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">التعهيد</h1>
                <p class="service-card__paragraph">
                  نموذج بروسيرف الفريد من نوعه يجعلنا مختلفين عن وكاالت التعهيد
                  التقليدية في مصر. فنحن نعمل على أن تتمتع بمميزات االستعانة</p>
                 <a href="outsourcing" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
  
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/trainning-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">أكاديمية بروسيرف للتدريب</h1>
                <p class="service-card__paragraph">
                  في عالم األعمال المزدحم بالعديد من البرامج المعده سلفاً والتي ال
  تراعي تطورات سوق العمل المتواصله، تلعب أكاديمية بروسيرف
  ليغطي
                </p>
                 <a href="proserv-training-academy" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
  
  
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/hr-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title"> أنظمة الموارد البشرية وإجراءاتها </h1>
                <p class="service-card__paragraph">
                  نحن نتفهم أنك قد تعرف التحديات التي تواجهك ولكنك في بعض
                  األحيان تحتاج إلى مساعدة. يمكننا المساعدة في تحديد وتقديم الحل.</p>
                 <a href="hr-systems-procedures" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/Legal-Services-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">الخدمات القانونية</h1>
                <p class="service-card__paragraph">
                  بروسيرف تحقق قيمة دائمة لعالقات العمالء. من خالل الجمع بين
  الخبرة العملية والمعرفة في مجال الصناعة وعالقات السوق ألكثر من
  022 محاٍم في جميع أنحاء المنطقة، والشرق األوسط وشمال إفريقيا </p>
                 <a href="legal-service" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
            <div class="item">
              <div class="service-card">
                <img
                  src="../../imgs/lg/services/Accounting-small.jpg"
                  class="sercive-card__img"
                />
                <h1 class="sercive-card__title">الخدمات المحاسبية</h1>
                <p class="service-card__paragraph">
                  تحتاج أي شركة إلى تحليل ما هي الخدمات المحاسبية المختلفة التي
                  تحتاجها وأي منها يمكن االستعانة بمصادر خارجية فيها. تتصدر كفاءة
                  التوجيه المالي قائمة .</p>
                 <a href="social-insurence-service" class="service-card__btn">إقراء المذيد</a>
              </div>
            </div>
  
  
  
  
  
  
  
          </div>
        </div>
      </div>
      <!-- our services end -->
  
      

      <!-- Why us start -->
    <div class="section why-us wrapper">
      <div class="section__data why_us_data">
        <h1 class="section__data__title">لماذا نحن ؟</h1>
        <p class="section__data__paragraph">
          قادت بروفيشنال سيرفيس بروسيرف مجال خدمات الموارد البشرية
          منذ 0202 .لتخدم أكثر من 022 شركة وجهة عالمية وحكومية ومحلية
          في جميع أنحاء البالد.
          Proserv قامت بحل الكثير من التحديات التي واجهت شركائها في
          اعمالهم اليومية ألن لدينا إيمان بالمنفعة المشتركة والتميز في الخدمة
          كقيم راسخة. نحن نؤمن أيضا ان رضاء شركاؤنا هو طريقنا للنجاح. ً
          خبرة Proserv الواسعة أكتسبتها من ممارسات للعمل تم التخطيط لها
          بعناية والكثير من العمل والتفاني. فنحن نضع فريق العمل رهن إشارتك
          حيث مع Proserv" أنت دائماً تأتي أوالً"
          نحن دائما متحمسون ، ومبادرون. نحن نؤمن بالعالقات، وليس
          مجردالقيام باألعمال. نحن نقدر العمل الجماعي ، مع إدراك أننا أقوى
          معًا أكثر من قوتنا كأفراد. نحن نأخذ على محمل الجد الوعود التي
          نتخذها. نحن لدينا الشغف والتوجه نحو التميز. فبالنسبة لنا لم يكن
          األفضل في فعل
          الموضوع كوننا مقدم الخدمة األكبر، ولكن كوننا دائماً
          األمور الصحيحة.
        </p>
      </div>
      <img class="section__img" src="../../imgs/lg/info/why-us.jpg" />
    </div>
    <!-- why us end -->

    <footer class="full_width">
      <div  class="footer-wrapper ">
        <div class="footer-logo">
          <img width="75px" src="../../imgs/sm/logo.png"/>
         </div>
         <div class="footer-content ">
          <div class="footer__about-us ">
            <h1 class="footer__title">عن الشركة</h1>
            <p >
              بروسيرف تقود الموارد البشرية
              سوق الخدمات منذ عام 2010. تخدم أكثر من 600 شركة متعددة الجنسيات ،
              الشركات والهيئات الحكومية والمحلية في جميع أنحاء المنطقة.
            </p>
          </div>
          <div class="footer-social">
            <h1 class="footer__title">اعثر علينا على وسائل التواصل الإجتماع</h1>
            <div class="social-links">
              <div class="social-item">  <i class="fab fa-facebook-f"></i></div>
            <div  class="social-item"> <i class="fab fa-twitter"></i></h1></div>
             <div  class="social-item">  <i class="fab fa-linkedin-in"></i></div>
            <div  class="social-item">    <i class="fab fa-google"></i></div>
            </div>
          </div>
          <div class="footer__hyprtLinks ">
            <h1 class="footer__title">وصلات سريعة</h1>
            <ul  class="hyprtLinks-list">
              <li><a href="#">خدماتنا</a></li>
              <li><a href="#">تسجيل الدخول</a></li>
              <li><a href="blog">المدونة</a></li>
              <li><a href="#">تواصل معنا</a></li>
              <li><a href="/">En</a></li>
            </ul>
          </div>
          <div class="send_msg footer-sndMsg">
            <form>
              <label class="form_labol">احصل على كل تحديثاتنا</label>
              <input class="email" type="email" required placeholder="حسابك">
              <input class="submit"type="submit">
            </form>
          </div>

         
          
          
         </div>
      </div>
      <div id="copyRight" class="copy-rights">
        <h4>&حقوق الملكية 2020-2025</h4>
        <h5>كل حقوق الملكية محفوظة <a href="#">بروسيرف</a></h5>
      </div>
    </footer>
</body>

<script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="../../js/components/nav.js"></script>

    <script src="../../js/bass/preloader.js"></script>
    <script src="../../js/bass/owl.carousel.min.js"></script>

    <script src="../../js/components/social-media.js"></script>
    <script src="../../js/bass/searchHighlight.js"></script>
    <script src="../../js/components/laws-navigator.js"></script>
    <script src="../../js/components/to-the-top.js"></script>
    <script src="../../js/components/message-registe.js"></script>
    <script>
      $(".owl-carousel").owlCarousel({
        rtl: true,
        loop: true,
        margin: 10,
        nav: false,
        navigation: false,
        autoplay: true,
        autoplayTimeout: 2500,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      });
    </script>
    <script
      src="https://kit.fontawesome.com/ae234012ff.js"
      crossorigin="anonymous"
    ></script>
</html>