<footer class="full_width">
    <div  class="footer-wrapper ">
      <div class="footer-logo">
        <img width="75px" src="./imgs/sm/logo.png"/>
       </div>
       <div class="footer-content ">
        <div class="footer__about-us ">
          <h1 class="footer__title">About Professional Services</h1>
          <p>
            Professional Service (Proserv) has been leading the Human Resources
            services market since 2010. Serving more than 600 multinational,
            governmental and domestic businesses and entities all over the region.
          </p>
        </div>
        <div class="footer-social">
          <h1 class="footer__title">Our Social Media</h1>
          <div class="social-links">
            <div class="social-item">  <i class="fab fa-facebook-f"></i></div>
          <div  class="social-item"> <i class="fab fa-twitter"></i></h1></div>
           <div  class="social-item">  <i class="fab fa-linkedin-in"></i></div>
          <div  class="social-item">    <i class="fab fa-google"></i></div>
          </div>
        </div>

        <div class="send_msg footer-sndMsg">
          <form>
            <label class="form_labol">Get Our Updates</label>
            <input class="email" type="email" required placeholder="your email">
            <input class="submit"type="submit">
          </form>
        </div>

        <div class="footer__hyprtLinks ">
          <h1 class="footer__title">HyperLinks</h1>
          <ul  class="hyprtLinks-list">
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="/arabic">ع</a></li>
          </ul>
        </div>
        
        
       </div>
    </div>
    <div class="copy-rights">
      <h4>&copy Copyright 2020-2025</h4>
      <h5>All rights resevered. Powered by the <a href="#">Professional Services</a></h5>
    </div>
  </footer>