<div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- <a class="navbar-brand" href="#"> -->
                    <a class="logo-link" href="/"><img width="75px" src="../../imgs/sm/logo.png"/></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
      >
      <ul id="navgation" class="navbar-nav">
        
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Services</a>
          <ul class="dp">
            <li><a href="social-insurence-service">Social Insurance</a></li>
            <li><a href="manpower-and-foreign-labor-affairs">Manpower and Foreign Labor Affairs</a></li>
            <li><a href="outsourcing">Outsourcing</a></li>
            <li><a href="recruitment">Recruitment</a></li>
            <li><a href="proserv-training-academy">Proserv Training Academy</a></li>
            <li><a href="hr-systems-procedures">HR Systems & Procedures</a></li>
            <li><a href="legal-service">Legal Services</a></li>
            <li><a href="accounting-services"> Services Accountin</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">law library</a>
          <ul class="dp laws">
            <li><a href="/arabic/law-one"> قانون العمل رقم 12 لسنة 2003</a></li>
            <li><a href="/arabic/law-two">قانون التأمينات الاجتماعية و المعاشات رقم 148 لسنة 2019</a></li>
            <li><a href="/arabic/law-three">قانون التأمين الصحى الشامل رقم 2 لسنة 2018</a></li>
            <li><a href="/arabic/law-four">قانون الطفل المعدل بالقانون رقم 126 لسنة 2008</a></li>
            <li><a href="/arabic/law-five"> قانون الضرائب رقم 91 لسنة 2005 وتعديلاته</a></li>
            <li><a href="/arabic/law-six"> قانون حقوق الاشخاص ذوى الإعاقة رقم 10 لسنة 2018</a></li>
            <li><a href="/arabic/law-seven">قانون الخدمة العسكرية رقم 127 لسنة 1980</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact-us">Contact</a>
        </li>
        <li class="nav-item">
          <a id="login-show" class="nav-link" >Login</a>
        </li>
        <!-- <li class="nav-item">
          <a id="logout" class="nav-link" >logout</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link arabicFont"  href="/arabic">ع</a>
        </li>
      </ul>
      </div>
    </nav>
  </div>