.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.555);
  z-index: 80006;
  display: none;
}
#flip-card,
#flip-card-back {
  color: lightcoral;
  padding: 0px 5px;
  z-index: 150000;
  user-select: none;
}
.proserv-login-modal {
  background-color: #fff;
  padding: var(--m-size);
  border-radius: 5px;
  width: 350px;
  font-family: var(--h-font);

  transform: skew();
}

.proserv-modal-header {
  user-select: none;
}
.proserv-modal-header span {
  font-size: var(--xs-size);
  position: relative;
  top: 4px;
}

.proserv-modal-body h1 {
  user-select: none;
  font-size: var(--m-size);
  padding: 10px 0;
  user-select: none;
  font-weight: bold;
}

.proserv-modal-body h3 {
  font-size: var(--xxs-size);
  color: rgb(187, 184, 184);
  padding: 0;
  margin: 0;
  user-select: none;
  text-align: left;
}

.proserv-modal-body input {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  font-size: var(--xs-size);
  padding: 5px 1px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.proserv-modal-body button {
  width: 100%;
  user-select: none;
  padding: 8px;
  border: none;
  background-color: #bb3b5f;
  font-size: var(--m-size);
  /* text-transform: uppercase; */
  color: #fff;
  border: 1px solid #bb3b5f;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.15s ease;
  transition: letter-spacing 0.5s ease;
  font-family: var(--h-font);
}

.proserv-modal-body button:hover {
  background-color: #fff;
  color: #bb3b5f;
  border: 1px solid #bb3b5f;
}

.proserv-modal-social-media-login {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  user-select: none;
  flex-direction: row;
  justify-content: space-between;
}
.proserv-modal-social-media-login a {
  display: inline-block;
  text-align: center;
  padding: 8px 0;
  font-size: var(--xxs-size);
  /* letter-spacing: 1px; */
  width: 33%;
  box-sizing: border-box;
  background-color: #ccc;
  transition: all 0.15s ease;
}

.proserv-modal-social-media-login a:hover {
  text-decoration: none;
}
.proserv-modal-social-media-login .fab {
  padding: 2px;
  font-size: 10px;
}

.proserv-modal-social-media-login a:nth-child(1) {
  background-color: #4267b2;
  border: 1px solid #4267b2;

  color: #fff;
}
.proserv-modal-social-media-login a:nth-child(1):hover {
  border: 1px solid #4267b2;
  color: #4267b2;
  background-color: #fff;
}

.proserv-modal-social-media-login a:nth-child(2) {
  border: 1px solid #0077b5;
  background-color: #0077b5;
  color: #fff;
}

.proserv-modal-social-media-login a:nth-child(2):hover {
  border: 1px solid #0077b5;
  background-color: #fff;
  color: #0077b5;
}

.proserv-modal-social-media-login a:nth-child(3) {
  border: 1px solid #c94131;
  background-color: #c94131;
  color: #fff;
}
.proserv-modal-social-media-login a:nth-child(3):hover {
  border: 1px solid #c94131;
  background-color: #fff;
  color: #c94131;
}
.proserv-create-account {
  font-size: 12px;
  /* margin-top: 15px; */
  padding: 0;
  margin: 0;
  margin-top: 15px;
  text-align: center;
  color: rgb(95, 95, 95);
  user-select: none;
}

.flip-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: transparent; */
  width: 300px;
  height: 450px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transition: box-shadow 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.116), 0 6px 4px rgba(0, 0, 0, 0.151);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.spin {
  animation: card-spin 2s ease-in-out forwards;
}

.spin-back {
  animation: card-spin-back 2s ease-in-out forwards;
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  display: none;
}

.show-card {
  animation: card-show 0.8s ease-in-out forwards;
}
.hide-card {
  animation: card-hide 0.6s ease-in-out forwards;
}
.show-dim {
  opacity: 1;
  visibility: visible;
}

.card-controller {
  width: 100%;
}
.card-controller i {
  font-size: 45px;
  float: right;
  padding: 10px;
  margin: 35px 45px;
}
@keyframes card-show {
  0% {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  60% {
    top: 65%;
  }
  100% {
    top: 50%;
  }
}
@keyframes card-hide {
  0% {
    top: 50%;
  }
  60% {
    top: 65%;
  }
  100% {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes card-spin {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-20deg);
  }
  70% {
    transform: rotateY(200deg);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.295),
      0 10px 15px rgba(0, 0, 0, 0.267);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes card-spin-back {
  0% {
    transform: rotateY(180deg);
  }
  25% {
    transform: rotateY(200deg);
  }
  70% {
    transform: rotateY(-20deg);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  100% {
    transform: rotateY(0deg);
  }
}
